body {
    font-family: 'Quicksand', sans-serif;
}

<<<<<<< HEAD
section {
    padding-top: 5rem;
}

.jumbotron {
    padding-top: 2rem;
    padding-left: 16rem;
    padding-right: 3rem;
    padding-bottom: 4rem;
}

.menu {
    padding-left: 20rem;
}

.wrapper {
    width: 100%;
    height: 100%;
}

.navbar {
    margin-bottom: 0;
}

.sidebar {
    width: 100%;
    height: 100%;
    background: #293949;
    position: fixed;
    z-index: 99;
    padding-top: 2px;
    padding-left: 2rem;
}

ul {
    padding: 0;
    margin-left: -70px;
}

ul li {
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}

ul li a {
    text-decoration: none;
    color: #F0F8FF;
    display: block;
    padding: 19px 0px 18px 25px;
    transition: all 200ms ease-in;
}

ul li a:hover {
    text-decoration: none;
    color: #1abc9c;
}

ul li a:visited {
    text-decoration: none;
    color: #fff;
}

li li a span {
    display: inline-block;
}

ul ul {
    display: none;
    margin: 0px;
}

ul li a .fa-angle-down {
    margin-right: 10px;
}


/*apabila lebar min 768px*/

@media(min-width: 768px) {
    .sidebar {
        width: 240px;
    }
    .content {
        margin-left: 250px;
    }
    .inner {
        padding: 15px;
    }
}
=======
body{
	font-family: 'Quicksand', sans-serif;
 }

 section{
	padding-top: 5rem;
 }
 .jumbotron{
     padding-top: 2rem ;
     padding-left: 16rem;
     padding-right: 3rem;
     padding-bottom: 4rem;
 }

 .menu{
     padding-left: 20rem;
 }
 .wrapper{
	 width: 100%;
	 height: 100%;
 }
 .navbar{
	 margin-bottom: 0;
 }

 .sidebar {
     width: 100%;
     height: 100%;
     background: 	#293949;
     position: fixed;
     z-index: 99;
     padding-top: 2px;
     padding-left: 2rem;
 }


 ul{
	 padding: 0;
	 margin-left: -70px;
 }
 ul li{
	 list-style: none;
	 border-bottom: 1px solid rgba(255, 255, 255, 0.5);
 }
 ul li a{
	 text-decoration: none;
	 color: 	#F0F8FF;
	 display: block;
	 padding: 19px 0px 18px 25px;
	 transition: all 200ms ease-in;
 }
 ul li a:hover{
	 text-decoration: none;
	 color: #1abc9c;
 }
 ul li a:visited{
	 text-decoration: none;
	 color: #fff;
 }
 li li a span{
	 display: inline-block;
 }
 ul ul{
	 display: none;
	 margin:0px;
 }
 ul li a .fa-angle-down{
	 margin-right: 10px;
 }

 .container{
	 margin-left: 20%;
 }


 /*apabila lebar min 768px*/
 @media(min-width: 768px) {
	 .sidebar{
		 width: 240px;
	 }
	 .content{
		 margin-left: 250px;
	 }
	 .inner{
		 padding: 15px;
	 }
 }
>>>>>>> c7b5d320bd6a1726510b763b93262a84f60921f3
